<h3>New expected expense</h3>
<%= form_for :expense, url: expected_expenses_path do |f| %>
    <% if @expense.errors.any? %>
          
        <div id="error_explanation">
              <h2><%= pluralize(@expense.errors.count, "error") %> prohibited
                this expense from being saved:</h2>
              
          <ul>
                
            <% @expense.errors.full_messages.each do |msg| %>
                      
                <li><%= msg %></li>
                    
            <% end %>
                
          </ul>
            
        </div>
          
    <% end %>
    <div>
      <%= f.label :description, class: "right inline" %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :value, class: "right inline" %>
      <%= f.label :value, "R$", class: "prefix" %>
      <%= f.text_field :value %>
    </div>
    <div>
      <%= f.label :initial_date, "Start date", class: "right inline" %>
      <%= date_select "expense", "initial_date", order: [:month, :year], prompt: {month: 'Select month', year: 'Select year'} %>
    </div>
    <div>
      <%= f.label :final_date, "End date", class: "right inline" %>
      <%= date_select "expense", "final_date", order: [:month, :year], prompt: {month: 'Select month', year: 'Select year'} %>
    </div>
    <div>
      <%= f.submit "Save", class: "button tiny right" %>
    </div>
<% end %>

<%= link_to 'Back', expected_expenses_path %>