<h3>New contribution factor</h3>
<%= form_for :contribution_factor, url: contribution_factors_path do |f| %>
  <% if @contribution_factor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution_factor.errors.count, "error") %> prohibited
        this contribution_factor from being saved:</h2>
      <ul>
      <% @contribution_factor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
      <%= f.label :factor, class: "right inline" %>
      <%= f.text_field :factor %>
  </div>
  <div>
      <%= f.label :initial_date, "Initial date", class: "right inline" %>
      <%= date_select "contribution_factor", "initial_date", order: [:month, :year], prompt: {month: 'Select month', year: 'Select year' } %>
  </div>
  <div>
      <%= f.submit "Save", class: "button tiny right" %>
  </div>
<% end %>

<%= link_to 'Back', contribution_factors_path %>