<% content_for :title do %>
  Bem vindo!
<% end %>

<p>
  <%= form_for :dashboard, id: "chage_date", url: {action: "change_date"} do |f| %>
    Ir para 
    <%= date_select "dashboard", "budget_date", default: @presenter.budget_date, order: [:month, :year] %>
    <input class="button tiny" name="commit" type="submit" value="Go!">
    <input class="button tiny" name="commit" type="submit" value="Today" formmethod="get">
  <% end %>
</p>
<p>
  Budget in <%= @presenter.formated_budget_date  %>
</p>
<p>
  <ul>
    <li>
      Saldo: <%= @presenter.balance %>
    </li>
    <li>
      Contribution factor: <%= @presenter.contribution_factor %>%
    </li>
  </ul>
</p>

<div class="row">
  <div class="large-4 columns">
    <table>
      <thead>
        <tr>
          <th colspan="2">Saídas</th>
        </tr>
        <tr>
        <th>Descrição</th>
          <th>Valor (R$)</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Total</td>
          <td><%= @presenter.total_expenses %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @presenter.expected_expenses.each do |e| %>
          <tr>
            <td><%= e.description %></td>
            <td><%= e.value %> <%= link_to "realize", new_expense_path(id: e.id) %></td>
          </tr>
        <% end %>
        <% @presenter.expenses.each do |e| %>
          <tr>
            <td><%= e.description %></td>
            <td><%= e.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-4 columns">
    <table>
      <thead>
        <tr>
          <th colspan="2">Contribuições</th>
        </tr>
        <tr>
        <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Total</td>
          <td><%= @presenter.total_contributions %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @presenter.contributions.each do |c| %>
          <tr>
            <td><%= c.contributor.firstName %></td>
            <td>R$ <%= c.amount * @presenter.contribution_factor_multiplier %> (<%= c.amount %>)</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-4 columns">
    <table>
      <thead>
        <tr>
          <th colspan="2">Receitas</th>
        </tr>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Total</td>
          <td><%= @presenter.total_revenues %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @presenter.revenues.each do |r| %>
          <tr>
            <td><%= r.description %></td>
            <td>R$ <%= r.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
