<%= form_for :category, url: category_path(@category), method: :patch do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@category.errors.count, "error") %> ao salvar:</h4>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :name, class: "right inline" %>
    </div>
    <div class="small-5 columns end">
      <%= f.text_area :name %>
    </div>
  </div>
   <div class="row">
    <div class="small-2 columns">
      <%= f.label :color, "Cor", class: "right inline" %>
    </div>
    <div class="small-3 columns end">
      <%= f.color_field :color %>
    </div>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', category_path %>