<h3>Nova categoria</h3>
<%= form_for :category, url: categories_path do |f| %>
    <% if @category.errors.any? %>  
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> ao salvar:</h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div>
      <%= f.label :name, class: "right inline" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :color, "Cor", class: "right inline" %>
      <%= f.color_field :color %>
    </div>
    <div>
      <%= f.submit "Save", class: "button tiny right" %>
    </div>
<% end %>

<%= link_to 'Back', categories_path %>