<p>
  <h3>Expense</h3>
</p>

<% if @expense.contributor %>
  <p>
    Contributor: <%= link_to @expense.contributor.firstName, contributor_path(@expense.contributor) %>
  </p>
<% end %>

<p>
  Description: <%= @expense.description %>
</p>

<% if @expense.category %>
  <p>
    Categoria: <%= link_to @expense.category.name, category_path(@expense.category) %>
  </p>
<% end %>

<p>
  Budget: <%= @expense.formated_budget_date %>
</p>

<p>
  Value: <%= @expense.value %>
</p>

<%= link_to 'Back', expenses_path, class: "button tiny" %> |
<%= link_to 'Edit', edit_expense_path(@expense), class: "button tiny" %>