<h1>New Contributor</h1>
<%= form_for :contributor, url: contributors_path do |f| %>
  <p>
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </p>
 
  <p>
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', contributors_path %>