<p>
  <strong>Contributor:</strong>
  <%= @contributor.firstName + " " + @contributor.lastName %> (<%= @contributor.email %>)
</p>

<% if @contributor.contributions.any? %>
  <table>
    <tr>
      <th>Value</th>
      <th>Since</th>
      <th colspan="2"></th>
    </tr>
   
    <% @contributor.contributions.order(:budget_date).each do |contribution| %>
      <tr>
        <td><%= contribution.amount %></td>
        <td><%= contribution.budget_date.strftime("%B %Y") %></td>
        <td><%= link_to 'Edit', edit_contributor_contribution_path(contribution.contributor, contribution) %></td>
        <td><%= link_to 'Destroy', contributor_contribution_path(contribution.contributor, contribution), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h5>Add a contribution</h5>
<%= form_for([@contributor, @contributor.contributions.build]) do |f| %>
  <% if @contribution.errors.count > 0 %>
  <div id="error_explanation">
    <h2><%= pluralize(@contribution.errors.count, "error") %> ao salvar:</h2>
    <ul>
    <% @contribution.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :budget_date, "Initial date:" %>
    </div>
    <div class="small-4 columns end">
      <%= date_select "contribution", "budget_date", order: [:month, :year], prompt: { month: 'Select month', year: 'Select year' } %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <%= f.label :amount, "Value" %>
    </div>
    <div class="small-1 columns">
      <%= f.label :amount, "R$", class: "prefix" %>
    </div>
    <div class="small-4 columns end">
      <%= f.text_field :amount %>
    </div>
  </div>
  <div class="row">
    <%= f.submit "Save", class: "button tiny" %>
  </div>
<% end %>

<%= link_to 'Back', contributors_path, class: "button tiny" %> |
<%= link_to 'Edit', edit_contributor_path(@contributor), class: "button tiny" %>